

.h3Head{
    margin-top: 50px;
    text-align: center;
}

#btnDiv{
    width: 400px;
    margin-top: 20px;
    
}

#board{
    width: 400px;
}
.container{
    float: left;
    width:100%;
}
#lblDiv{
    margin-top: 10px;    
    border-radius: 5px;
    border-width: 5px;
}
.histContainer{
    width: 400px;
    
}

.lblHead{    
    padding: 5px;
    padding-right: 20px;
}
.timerDiv{
    width: 100px;
    height: 100px;
}
.wTimer, .bTimer{
    text-align: center !important;
    font-size: 3rem !important;
      margin-top: 20px;
    background-color: gray;
    height: 100px;
}
.saveDiv{
    margin-top: 20px;
}